@mixin test {
  font-size: 30px;
  font-weight: bold;
}
@mixin test2 {
  font-size: 30px;
  // font-weight: bold;
}
div{
  [theme="dark"] &{
    color: orangered;
    @include test;
  }
  [theme="light"] &{
    color: purple;
    @include test2;
  }
  
}

